#formulario2 {
    padding: 5%;

}

.form-group {
    padding: 2%;
}
#navegador {
    background-image: linear-gradient(#ADD8E6 100%, #98FB98);
}

#navegador img {
    height: 100px;
}
.footer {
    background-image: linear-gradient(#ADD8E6 70%, #98FB98);
    padding: 10px;
    text-align: center;
    color: black;
}
.footer a {
    color: black;
}
